@font-face {
  font-family: vtp;
  src: url(/fonts/Djournal.otf);
}

body{
  background-color: #81c3d7;
}

#welcome {
  font-family: vtp;
  align-content: center;
  text-align: center;
}

#welcome h1 {
  font-size: 3em;
  letter-spacing: .13em;
  color: #03AADC;
}

#welcome img {
  width: 20em;
  border-radius: 80%;
}

@media (min-width: 960px) {

  #welcome h1 {
    font-size: 3.4em;
  }

  #welcome img {
    width: 22em;
  }
}


@media (min-width: 1280px) {

    #welcome h1 {
      font-size: 3.8em;
    }

    #welcome img {
      width: 26em;
    }

}